@model CabBook.Model.Models.RideInformation
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Driver Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="gtco-loader"></div>
    <div id="page">
        <!-- <div class="page-inner"> -->
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><a href="index.html">Traveler <em>.</em></a></div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li><a href="@Url.Action("Index","Driver")">Home</a></li>
                            <li><a href="@Url.Action("CarDetails","Driver")">Car Detail</a></li>
                            <li><a href="@Url.Action("PostRide","Driver")">Post Ride</a></li>
                            <li><a href="@Url.Action("ViewRides","Driver")">View Rides</a></li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(../../images/1.jpeg); height: auto;">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-5em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                <h1>Post your ride details here..</h1>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </header>


        <div class="gtco-section border-bottom">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="border: 1px solid silver;border-radius: 10px;padding: 25px;">
                        <div class="form-wrap">
                            <div class="tab-content-inner active" data-content="signup">
                                <h2 style="text-align:center;font-weight: bold;color: darkblue;">RIDE POSTS</h2>
                                @using (Html.BeginForm("PostRide", "Driver", FormMethod.Post))
                                {
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="fullname">First Steet*</label>
                                            @Html.TextBoxFor(model => model.FirstStreet,new { @class = "form-control", @placeholder = "Enter First Street", @required= "required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="fullname">Second Street*</label>
                                            @Html.TextBoxFor(m=>m.SecondStret,new { @class = "form-control", @placeholder = "Enter Second Street", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="fullname">Starting Time*</label>
                                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", @placeholder = "Enter Start Time", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="fullname">Destination*</label>
                                            @Html.TextBoxFor(m => m.Destination, new { @class = "form-control", @placeholder = "Enter Destination", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="fullname">Landmark</label>
                                            @Html.TextBoxFor(m => m.Landmark, new { @class = "form-control", @placeholder = "Enter Landmark" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        @if (TempData["Message"] == null || (TempData["Message"] != null && TempData["Message"].ToString() != "RidePost"))
                                        {
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-primary btn-block" value="SAVE">
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/js/jquery.countTo.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/magnific-popup-options.js"></script>

    <!-- Datepicker -->
    <script src="~/js/bootstrap-datepicker.min.js"></script>

    <!-- Main -->
    <script src="~/js/main.js"></script>
</body>
</html>